body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 80%;
    margin: 0 auto;
    /* căn giữa bảng */
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #3498db;
    color: white;
    font-size: 18px;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    font-size: 16px;
    color: #555;
}

p {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 50px;
}